@model PhotoViewModel

@{

    ViewData["Title"] = $"Photo Library | Update";
}


<form enctype="multipart/form-data" method="post">
    <div>
        <div class="row">
            <div class="col-6 offset-3 text-center">
                <h1 class="display-4" style="margin: 20px 0px;">Update</h1>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3 offset-md-3 form-group">
                <label>Name:</label>
                <input type="text" class="form-control" required name="Name" value="@Model.CurrentPhoto.Name" />
            </div>
            <div class="col-md-3 offset-md-3 form-group">
                <label>Image:</label>
                <input type="file" class="form-control" name="imageFile" />
                @if (!string.IsNullOrWhiteSpace(Model.CurrentPhoto.ImagePath))
                {
                    <img src="~/uploads/@Model.CurrentPhoto.ImagePath" alt="@Model.CurrentPhoto.ImagePath" value="@Model.CurrentPhoto.ImagePath" width="100" />
                }

            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 offset-md-3 form-group">
                <label>Date:</label>
                <input type="datetime-local" class="form-control" required name="Date" value="@Model.CurrentPhoto.Date.ToString("MM-dd-yy")" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 offset-md-3">
                 <button type="button" class="btn btn-secondary" onclick="location.href = '/Photos/Index'">CANCEL</button> 
                <!-- <button type="button" class="btn btn-secondary" onclick="location.href = 'ATUrl.Action("Index", "Photos")'">CANCEL</button> -->
                <button type="submit" class="btn btn-primary" asp-action="CreateNewFile" asp-controller="Photos">Update</button>


            </div>
        </div>
    </div>
    <input type="hidden" name="PhotoID" value="@Model.CurrentPhoto.PhotoID" />
</form>

<!-- <form action="~/Photos/Index" method="post">
    <div>
        <div class="row">
            <div class="col-6 offset-3 text-center">
                <h1 class="display-4" style="margin: 20px 0px;">/h1> IMPORTANTE NOTE: Remember to add the missing code that was erased to clean the error.
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3 offset-md-3 form-group">
                <label>Name: </label>
                <input type="text" class="form-control" required name="name" value="@Model.CurrentPhoto.Name" />
            </div>
            <div class="col-md-3 offset-md-3 form-group">
                <label>ImagePath: </label>
                <input type="text" class="form-control" required name="imagePath" value="@Model.CurrentPhoto."ImagePath" /> IMPORTANT NOTE: Remember to remove quotation before ImagePath
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 offset-md-3 form-group">
                <label>Date: </label>
                <input type="datetime" class="form-control" required name="date" value="@Model.CurrentPhoto.Date" />
            </div>
        </div>        
        <div class="form-row">
            <div class="col-md-6 offset-md-3">
                <button type="button" class="btn btn-secondary" onclick="location.href = '/Photos/Index'">CANCEL</button>
                <button type="submit" class="btn btn-primary">SAVE PHOTO</button>
            </div>
        </div>
    </div>
    <input type="hidden" name="PhotoID" value="@Model.CurrentPhoto.PhotoID" />
</form> -->